{%  extends 'base.html' %} 

{% load humanize %}

{% block title %} | Добро пожаловать! {% endblock %}

{% block content %}
    <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-3">
        <div class="overlay p-4 rounded-bottom">
          <h1 class="display-8 mb-2">
            Аренда квартир: легко и безопасно
          </h1>
          <p class="lead">Подберите для себя подходяющую квартиру, мы поможем вам совершить безопасную сделку с помощью криптовалюты!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row justify-content-center">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Ключевые слова</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Район">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Количество комнат</label>
                  <input type="text" name="city" class="form-control" placeholder="Количество комнат">
                </div>


              <!-- Form Row 2 -->

                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Максимальная цена (Любая)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Alert Messages-->
  {% include 'partials/_alerts.html' %}
  
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Последние квартиры</h3>
      <div class="row">
        {% if listings %}
          {%  for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">{{ listing.price | intcomma }} ₽</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Комнаты: {{ listing.sqft }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Спальни: {{ listing.bedrooms }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ listing.user }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Узнать больше</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Ещё нет объявлений</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>


{% endblock %}